.khtxtbx {
    font-weight: bold;
    text-align: center;
} 
/*
an element with a specific id, write a hash (#) character, followed by the id of the element
*/
#para1 {
    text-align: center;
    color: red;
}
/*
To select elements with a specific class, write a period (.) character, followed by the name of the class.
In the example below, all HTML elements with class="center" will be red and center-aligned:
*/
.center {
    text-align: center;
    color: red;
}
